/* Fonts */
/* Importar aquí la font */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    line-height: 1.2;
    /**text-align: center;*/
    /*justify-content: center;*/
    /*rowvertical-align: middle;*/
    font-size: 25px;
}

/* Pagina de donde obtengo la paleta de colores https://colors.muz.li/ */
/* https://colors.muz.li/palette/272643/ffffff/e3f6f5/bae8e8/2c698d */
/* #272643
#ffffff
#e3f6f5
#bae8e8
#2c698d
*/

h1 {
    /*Requerimiento proyecto*/
    font-size: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    /*Requerimiento proyecto*/
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/*En modo mobil el menu de palabras no esta presente*/
.menu-palabras {
    display: none;
}

/*En menu mobil inicialmente no esta el boton de cerrar menu hamburgueas*/
i#close-menu {
    display: none;
}



/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
/*main {
    max-width: 1200px;
    margin: auto;
}
*/

body header nav ul {
    position: fixed;
    display: flex;
    /*flex-direction:row;*/
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: #bae8e8;
    padding: 30px;
    box-shadow: 0 10px 25px 8px #272643;
    width: 100%;
    min-width: 400px;
    /*max-width: 100%;*/
}

/*Estilo de boton de menu hamburguesa*/
button {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: small;
}

/*Cuando el mouse pasa sobre los iconos del menu hamburguesa le cambia color y tamano*/
button i:hover {
    background-color: yellow;
    font-size: xx-large;
}

/*Cambia el color en header icono dia noche, incio y contacto*/
header a:hover {
    background-color: yellow;
    font-size: xx-large;
}

/*Estilos que se activan cuando se realiza click al icono de abrir menu hamburguesa*/
header.movile-menu-active {
    overflow: hidden;
}

/*Cuando movil-menu-active es activo, aparece el icono close*/
header.movile-menu-active i#close-menu {
    display: block;
}

header.movile-menu-active i#open-menu {
    display: none;
}

header.movile-menu-active nav ul {
    height: 30vh;
    flex-wrap: wrap;
    align-items: flex-start;
    transition: height 0.3s;
}

header.movile-menu-active .menu-palabras {
    display: block;
}

header.movile-menu-active nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15%;
    background-color:aqua;  
}

/*Define tamaño del icono de modo oscuro*/
#icono-modo-oscuro {
    width: 35px;
    height: 35px;
}

/*Realiza cambios en el icono de modo oscuro cuando pasa el mouse por arriba*/
#icono-modo-oscuro:hover {
    width: 50px;
    height: 50px;
    background-color: yellow;
}

/*Ajusta el tamaño maximo del logotipo*/
#logotipo {
    max-height: 75px;
}

body {
    width: 720px;
    height: 1280px;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    border: 0px;
    background: #2c698d;
    text-align: center;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}

#inicio figure img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    box-shadow: 0 10px 25px 8px #272643;
}

#inicio {
    padding-top: 100px;
}

#inicio a {
    background-color: #272643;
    /*color: #bae8e8;*/
    border-radius: 30%;
    font-size: 20px;
    /*display: inline-block;*/
    width: 200px;
    height: 50px;
    /*padding: 0;*/
    /*border: 0;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #bae8e8;
}

#inicio a:hover {
    color: black;
    background-color: yellow;
    width: 230px;
    height: 58px;
    font-size: x-large;
}

#contacto {
    align-items: center;
    padding: 15%;

}

#contacto img {
    height: 40px;
    width: 40px;
    margin: 10px;
}

#contacto img:hover {
    background-color: yellow;
    height: 70px;
    width: 70px;
    margin: 10px;
    }


#contacto ul {
    display: flex;
    /*flex-direction:row;*/
    justify-content:space-evenly;
    align-items: center;
    height: 60px;
    background: #bae8e8;
    width: 100%;
    margin-top: 10px;
}

footer p {
    background: #131221;
    color: #bae8e8; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}


#contacto article {
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 10%;
    display: flexbox;
    max-width: 100%;

}



p {
    padding-bottom: 20px;
}

/* ESCRITORIO COMPUTADORA */
@media (min-width: 920px) {
    #inicio ul {
        flex-direction: row;
        display: flex;
        /*flex-direction:row;*/
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    /*Cuando no estoy en modo mobil muestra el menu palabras y esconde el menu hamburguesa*/
    .menu-palabras {
        display: initial;
    }

    /*Cuando no estoy en modo mobil muestra el menu palabras y esconde el menu hamburguesa*/
    #menu-btn {
        display: none;
    }

    #logotipo {
        max-height: 75px;
    }


    #inicio article {
        margin: 50px;
    }

    #inicio figure {
        margin: 50px;
    }

    body {
        width: max-content;
        max-width: 100%;
        margin: auto;
        background: #2c698d;

    }

    section {
        /*min-height: 100vh;*/
        padding-top: 50px;
        padding-bottom: 50px;
    }


    header nav ul {
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        background: #bae8e8;
        padding: 30px;
        box-shadow: 0 10px 25px 8px #272643;
        width: 100%;
    }


    h1 {
        font-size: 48px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 32px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #contacto ul {
        background: #2c698d;
    }
}



/*.cambio {
    background-color: yellow;
   }*/


/*modo oscuro */