/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    line-height: 1.2;
    text-align: center;
    //justify-content: center;
    //rowvertical-align: middle;
    font-size: 18px;
							
}


h1 {
    font-size: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;

}


/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
/*main {
    max-width: 1200px;
    margin: auto;
}
*/

header nav {
    position: fixed;
    display: flex;
    /*flex-direction:row;*/
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: #fbfbfb;
    /*width: 100%;*/
    padding: 30px;
    box-shadow: 0 10px 15px 1px #5f5f5f;
							width: 640px;
							max-width: 100%;
	
}

header nav a img {
    max-height: 75px;
}

body {
    /*max-width: 740px;*/
    /*antes 1200*/

    /*width: 100%;*/
							width: 640px;
							max-width: 100%;	
    margin: auto;
    background: #fbfbfb;
							

}

#inicio figure img {
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

section {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 20px;

}

#inicio {
    padding-top: 100px;

}

#inicio a {
    background: #af599e;
    color: #fbfbfb;
    border-radius: 20%;
    font-size: 20px;
    /*display: inline-block;*/
    width: 200px;
    height: 50px;
    /*padding: 0;*/
    /*border: 0;*/

    display: inline-flex;
    justify-content: center;
    align-items: center;
}


#contacto img {
    height: 90px;
    width: 90px;
}

#contacto ul {

    display: flex;
    /*flex-direction:row;*/
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background: #fbfbfb;
    width: 100%;
    padding: 70px;
}

/*
#contacto footer p {
    background: #af599e;
    color: #fbfbfb;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
footer p {
    background: #af599e;
    color: #fbfbfb;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#contacto article {
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 10%;
    display: flexbox;
    max-width:95%;


}



p {
    padding-bottom: 20px;

						
}